<h1>Photos</h1>
<%= link_to 'Add New Photo', new_admin_photo_path %>

<div class="photo-grid">
  <% @photos.each do |photo| %>
    <% if photo.images.attached? %>
      <% photo.images.each do |image| %>
        <div class="photo-item">
          <%= image_tag(image.variant(resize_to_limit: [100, 100]), alt: "Admin Photo Thumbnail") %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="pagination">
  <%= paginate @photos %>
</div>