<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Photos', photos_path %></li>
    <li><%= link_to 'Projects', projects_path %></li>
    <li><%= link_to 'Posts', posts_path %></li>
  </ul>
</nav>
