<h1>Welcome to My Portfolio</h1>
<p>Explore my photos, projects, and blog posts!</p>
<nav>
  <ul>
    <li><%= link_to 'Photos', photos_path %></li>
    <li><%= link_to 'Projects', projects_path %></li>
    <li><%= link_to 'Posts', posts_path %></li>
  </ul>
</nav>
