<h1>Photo Gallery</h1>

<div class="photo-grid">
  <% @photos.each do |photo| %>
    <% if photo.images.attached? %>
      <% photo.images.each do |image| %>
        <div class="photo-item">
          <%= link_to image_tag(image, alt: "Photo", class: "photo-thumbnail"), photo_path(photo) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="pagination">
  <%= paginate @photos %>
</div>
