<h1>Photo Gallery</h1>
<% @photos.each do |photo| %>
  <div>
    <h2><%= photo.title %></h2>
    <p><%= photo.description %></p>
    <% if photo.images.attached? %>
      <% photo.images.each do |image| %>
        <%= image_tag image, alt: photo.title, width: 300 %>
      <% end %>
    <% end %>
  </div>
<% end %>
